<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

<div class="container">

    <h2>User Management</h2>

    <a th:href="@{/users/new}" class="btn">Create User</a>

    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="user : ${users}">

            <td th:text="${user.id}"></td>

            <td th:text="${user.name}"></td>

            <td th:text="${user.email}"></td>

            <td th:text="${user.address != null ? user.address.city : 'No Address'}"></td>

            <td th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}"></td>

            <td>
                <a th:href="@{/users/{id}/address(id=${user.id})}" class="btn">
                    Add Address
                </a>

                <a th:href="@{/users/{id}/booking(id=${user.id})}" class="btn">
                    Add Booking
                </a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>
